* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(10, 8, 57);
    background: linear-gradient(90deg, rgba(10, 8, 57, 1) 56%, rgba(1, 17, 116, 1) 100%);
    color: white;
    font-family: 'poppins';
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(69, 4, 4);
    /* justify-content: space-between; */
}

nav ul {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

nav ul li {
    list-style-type: none;
    margin: 0 23px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

nav a:hover {
    color: brown;
    transition: color .2s ease-in-out, box-shadow .3s ease-in-out;
    font-size: 1.03rem;
}

.left {
    font-size: 1.7rem;
    font-family: Josefin Sans, sans-serif;
}

#home {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 130px;
    margin-left: 0px;
    margin-right: 0px;
}

.leftSection {
    width: 30%;
    font-size: 3rem;
    line-height: 60px;
    margin: 60px 10px;
}

.red {
    color: red;
}

#element {
    color: red;
}

.rightSection {
    width: 30%;
}

.rightSection img {
    margin: 50px 0px;
    width: 80%;
    height: 307px;
}

main hr {
    border: 0px;
    height: 2px;
    background: brown;
    margin: 10px 80px;
}

#about_me {
    max-width: 80vw;
    margin: auto;
    /* margin-top: 80px;
    margin-bottom: 130px;
    margin-left: 0px;
    margin-right: 0px; */
    height: 40vw;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: space-between;
}

.leftSide {
    width: 30%;
    margin-left: 80px;
    margin-top: 30px;
}

.leftSide img {
    border-radius: 50px;
    height: 435px;
    width: 375px;
}

.rightSide {
    /* background-color: brown; */
    width: 50%;
    margin-top: 30px;
    font-size: 1.3rem;
}

.tab-titles {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.tab-links {
    font-weight: 600;
    cursor: pointer;
}

.tab-links.active-link {
    font-size: 1.5rem;
    color: blueviolet;
    transition: 0.5s ease-in-out;
}

.tab-links:hover {
    font-size: 1.5rem;
    color: blueviolet;
    transition: 0.5s ease-in-out;
}


/* .tab-links::after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    background: red;
} */


/* .tab-links.active-link::after {
    width: 50%;
} */

.tab-contents ul li {
    list-style-type: none;
    padding: 7px 0px;
    font-size: 1rem;
}

.tab-contents span {
    color: aquamarine;
    font-size: 0.7rem;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
    width: 40%;
}

.side1 {
    margin-left: 215px;
}

.side2 {
    margin-left: 495px;
}

.projects .container {
    display: flex;
    justify-content: space-evenly;
}

.projects .container div {
    margin: 40px 0px;
    padding: 50px 10px;
    width: 20%;
    background-color: rgb(29, 15, 156);
    border-radius: 20px;
    text-align: center;
}

.projects .container div:hover {
    background: rgb(168, 81, 81);
    transition: 0.5s ease-out;
    box-shadow: 7px 7px 10px rgb(2, 11, 102);
    transform: translate(-5px, -5px);
}

.projects .container div a i {
    margin-top: 40px;
    color: brown;
}

.contact_me .container {
    display: flex;
    justify-content: space-around;
}


/* .contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
} */

.contact-left p {
    padding: 10px;
}

.contact-left p i {
    color: brown;
    margin-right: 15px;
    font-size: 25px;
}

.sicons {
    padding-top: 10px;
    margin-left: 10px;
}

.sicons a {
    font-size: 20px;
    text-decoration: none;
    margin-right: 15px;
    color: bisque;
}

.sicons a i:hover {
    transform: translateY(-5px);
    color: brown;
    transition: 0.5s;
}

.btn.btn2 {
    display: inline-block;
    background: brown;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(184, 179, 232);
    padding: 15px;
    margin: 20px;
    font-size: 18px;
    border-radius: 7px;
}

#msg {
    color: rgb(32, 191, 191);
}

@media only screen and (max-width: 600px) {
    .leftSide img {
        border-radius: 50px;
        height: 150px;
        width: 150px;
        margin-top: -20px;
        margin-left: -90px;
    }
    .rightSide {
        /* background-color: brown; */
        width: 50%;
        margin-top: 30px;
        font-size: 0.5rem;
    }
    #about_me {
        max-width: 80vw;
        margin: auto;
        /* margin-top: 80px;
        margin-bottom: 130px;
        margin-left: 0px;
        margin-right: 0px; */
        height: 70vw;
    }
    .tab-links {
        font-weight: 600;
        cursor: pointer;
    }
    .tab-links.active-link {
        font-size: 0.9rem;
        color: blueviolet;
        transition: 0.5s ease-in-out;
    }
    .tab-links:hover {
        font-size: 0.9rem;
        color: blueviolet;
        transition: 0.5s ease-in-out;
    }
    .tab-contents ul li {
        list-style-type: none;
        padding: 7px 0px;
        font-size: 0.7rem;
    }
    .tab-contents span {
        color: aquamarine;
        font-size: 0.3rem;
    }
    .tab-contents {
        display: none;
    }
    .tab-contents.active-tab {
        display: block;
    }
    .side1 {
        margin-left: 100px;
    }
    .side2 {
        margin-left: 200px;
    }
}